@model PrestamosWeb.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Clientes</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">ClienteId:</span>
                <input class="form-control input-group-lg col-2" type="text" id="tbId" placeholder="Id" />
                <button type="button" class="btn btn-success col-sm-2" id="btnBuscar" onclick="Buscar()">Buscar</button>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Nombres:</span>
                <input class="form-control input-group-lg col-2" type="text" id="tbNombres" placeholder="Nombres" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Ciudad</span>
                <select class="form-control selected" id="tbCiudad">
                    <option value="0" disabled selected> </option>
                    <option value="1">San Francisco De Macoris</option>
                    <option value="2">Santiago</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Direccion:</span>
                <input class="form-control input-group-lg col-2" type="text" id="tbDireccion" placeholder="Direccion" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Cedula:</span>
                <input class="form-control input-group-lg col-2" type="text" id="tbCedula" placeholder="Cedula" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Telefono:</span>
                <input class="form-control input-group-lg col-2" type="text" id="tbTelefono" placeholder="Telefono" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-calendar"> Fecha:</span>
                <input class="form-control input-group input" type="text" placeholder="Fecha" id="dpFecha" required readonly />
            </div>
        </div>

        <div class="form-group text-center col-xl-12">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-info col-sm-2" id="btnLimpiar" onclick="LimpiarCampos(0)">Nuevo</button>
                <button type="button" class="btn btn-success col-sm-2" id="btnCrear" onclick="Validar(0)">Crear</button>
                <button type="button" class="btn btn-info col-sm-2" id="btnModificar" onclick="Validar(1)">Modificar</button>
                <button type="button" class="btn btn-success col-sm-2" id="btnEliminar" onclick="Validar(2)">Eliminar</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
